<main class="heroList">
  <section class="heroList-controls">
    <app-riu-searcher
      labelText="Buscar héroes"
      placeholderText="Buscar por nombre de héroe..."
      buttonText="Añadir Héroe"
      (searchChanged)="searchHero($event)"
    ></app-riu-searcher>
    <button
      mat-raised-button
      color="primary"
      (click)="addHero()"
      class="heroList-controls-addButton"
    >
      <mat-icon>add</mat-icon>
      Añadir Héroe
    </button>
  </section>
  <app-riu-table
    title="Lista de héroes"
    [data]="heroesStore.filteredHeroes()"
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [columnTitles]="columnTitles"
    [actions]="tableActions"
    (actionClicked)="handleTableAction($event)"
  >
  </app-riu-table>
</main>
